* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.3;
    background-color: #ffffff;
    font-family: "ubuntu";
}

/*Utilidades*/
.cik-container {
    max-width: 75rem;
    margin: 0 auto;
}

.cik-text-center {
    text-align: center;
}

.cik-heading-5 {
    text-transform: uppercase;
    font-family: "ubuntu";
    color: #4c4c4c;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
}

.cik-heading-1 {
    position: relative;
    font-family: "ubuntu";
	font-size: 24px;
	font-weight: 300;
	color: #4c4c4c;
	padding: 0 0 0 30px;
	margin-bottom: 20px;
}

.cik-heading-1::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 11px;
    border-left: 8px solid #6bbd45;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.cik-heading-1:before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 11px;
    height: 24px;
    background-color: #6bbd45;
}

.cik-heading-1 span {
    font-weight: 700;
    text-transform: uppercase;
    color: #6bbd45;
}

/*Características*/
.cik-features > .cik-container {
    padding: 1rem;
}

.cik-features .cik-banner {
    min-height: 600px;
    background-image: url('https://microless.com/cdn/product_description/3373894_1582605994.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cik-features .cik-banner-content {
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.cik-banner-content-item {
    padding: 1rem;
    grid-column: 1 / 13;
}

@media screen and (min-width: 480px) {
    .cik-banner-content-item {
        grid-column: 1 / 10;
    }
}

@media screen and (min-width: 768px) {
    .cik-banner-content-item {
        grid-column: 1 / 7;
    }
}

.cik-features .cik-banner-content .cik-heading-5{
    color: #fff;
}

.cik-features .cik-banner-content .cik-body {
    padding: 40px 30px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

.cik-features .cik-banner-content .cik-body .cik-banner-list {
    position: relative;
    padding-left: 15px;
	list-style: none;
	margin-bottom: 0;            
}

.cik-features .cik-banner-content .cik-body .cik-banner-list-item {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
}


/* ===== == = === (430px) === = == ===== */
@media screen and (min-width:430px){
    .cik-features .cik-banner-content .cik-body .cik-banner-list-item {
        font-size: 15px;
    }
}

.cik-features .cik-banner-content .cik-body .cik-banner-list .cik-banner-list-item::before {
    content: "•";
    position: absolute;
    left: -15px;
    color: #6bbd45;
}

/*Especificaciones*/
.cik-specs .cik-cards {
    display: grid;
    grid-gap: 2rem;
    grid-auto-flow: row dense;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
}
  
/* ===== == = === (480px) === = == ===== */
@media screen and (min-width:480px) {
    .cik-specs .cik-cards { 
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr)
    }
    .cik-specs .cik-card-item:nth-of-type(1) {
        grid-column: 1 / 3;
    }
        
    .cik-specs .cik-card-item:nth-of-type(2) {
        grid-column: 3 / 6;
    }
    
    .cik-specs .cik-card-item:nth-of-type(3) {
        grid-column: 1 / 4;
    }
    
    .cik-specs .cik-card-item:nth-of-type(4) {
        grid-column: 4 / 6;
    }
}


.cik-specs .cik-card-item {
    padding: 9px 12px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 11px 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 11px 15px 0 rgba(0,0,0,.05);
    overflow: hidden;
    transition: box-shadow .1s ease;
}

.cik-specs .cik-card-item:hover {
    -webkit-box-shadow: 0 11px 15px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 11px 15px 10px rgba(0,0,0,.05);
}

/* ===== == = === (768px) === = == ===== */
@media all and (min-width: 768px) {
    .cik-specs .cik-card-item {
        padding: 30px 40px;
    }
}

.cik-specs .cik-card-list {
    position: relative;
    padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.cik-specs .cik-card-list .cik-card-list-item {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: #4c4c4c;
}

/*products*/
.cik-products .cik-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 300px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
}

.cik-products .cik-card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0 11px 15px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 11px 15px 0 rgba(0,0,0,.05);
    transition: box-shadow .1s ease;
}

.cik-products .cik-card-item:hover {
    -webkit-box-shadow: 0 11px 15px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 11px 15px 10px rgba(0,0,0,.05);
}

/*Video*/
.cik-video {
    text-align: center;
    margin: auto;
    display: block;
    padding: 1em;
    width: 100%;
    height: 360px;
}

.cik-video .cik-video-image {
    height: 100%;
    background-image: url("../assets/img/Atri_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}

.cik-video .cik-buttonMedia {
    cursor: pointer;
    background-image: url('https://images.ctfassets.net/dfhnfm93fvnr/5Su8ljvwJWDaBaUpzQnkqL/14b5b92d04fc7e75ae7011bc683e6272/button_play.png');
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: center center;
    height: 100%;
}

/* ===== == = === (900px) === = == ===== */
@media all and (min-width: 900px) {
    .cik-video {
        text-align: center;
        margin: auto;
        display: block;
        padding: 1em;
        width: 75%;
        height: 480px;
    }
}

/*Productos*/
.cik-products .cik-card-body {
    font-family: "Metropolis";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
}

.cik-products .cik-card-body p {
    flex: 1 0 auto;
    margin: 0;
}

.cik-products .cik-card-img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
    filter: grayscale(60%);
    -ms-filter: grayscale(60%); /* IE 9 */
    -moz-filter: grayscale(60%); /* Firefox */
    -webkit-filter: grayscale(60%); /* Safari and Chrome */
    -o-filter: grayscale(60%); /* Opera */
    transition-duration: 1000ms;
    transition-property: filter;
}

.cik-products .cik-card-img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -ms-filter: grayscale(0%); /* IE 9 */
    -moz-filter: grayscale(0%); /* Firefox */
    -webkit-filter: grayscale(0%); /* Safari and Chrome */
    -o-filter: grayscale(0%); /* Opera */
}

.cik-products .cik-card-title,
.cik-products .cik-card-text {
    padding: 0.5em 1em;
    margin: 0em;
}

.cik-products .cik-card-title {
    height: 80px;
    text-transform: uppercase;
    color: #2f3143;
    font-family: "ubuntu";
    font-weight: 500;
    text-align: center;
}

.cik-products .cik-card-text {
    font-family: "ubuntu";
    font-weight: 300;
    color: #6b6d7e;
}

/*Modal*/
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal__container {
    background-color: #fff;
    width: 85%;
    height: 40%;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* ===== == = === (480px) === = == ===== */
@media screen and (min-width: 480px) {
    .modal__container {
        height: 60%;
    }
}

/* ===== == = === (768px) === = == ===== */
@media screen and (min-width: 768px) {
    .modal__container {
        height: 75%;
    }
}

.modal__header {
    position: absolute;
    top: 27%;
    right: 4%;
    background: white;
    padding: 0.3rem;
    z-index: 1;
    border-radius: 100%;
}

/* ===== == = === (430px) === = == ===== */
@media screen and (min-width: 430px) {
    .modal__header {
        top: 28%;
        right: 4%;
        padding: 0.5rem;
    }
}

/* ===== == = === (480px) === = == ===== */
@media screen and (min-width: 480px) {
    .modal__header {
        top: 17%;
        right: 5%;
    }
}

/* ===== == = === (768px) === = == ===== */
@media screen and (min-width: 768px) {
    .modal__header {
        top: 10%;
        right: 6%;
    }
}

.modal__close {
    background: transparent;
    border: 0;
    cursor: pointer;
}
  
.modal__header .modal__close:before { content: "\2715"; }
  
.modal__content {
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    height: 100%;
}
  
.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
  
.modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
  
.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}
  
/*Animations*/
@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}